<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Carter Contact Page</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Example Site", "Index", "Home", new { area = "" }, new { @class = "navbar-brand active" })
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-right nav-pills">
                <li id='facebook'><a href="@Url.Action("Index", "Home")" ><span><i class="fa fa-facebook" aria-hidden="true"></i></span></a></li>
                <li id='number' role="presentation" class="active"><a href="@Url.Action("Index", "Home")"><span><i class="fa fa-phone" aria-hidden="true"></i>555-555-5555</span></a></li>
              </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Index", "Home")"><span>how it works</span></a></li>
                    <li><a href="@Url.Action("Index", "Home")"><span>in the news</span></a></li>
                    <li><a href="@Url.Action("Index", "Home")"><span>our locations</span></a></li>
                    <li><a href="@Url.Action("Index", "Home")"><span>faq</span></a></li>
                    <li><a href="@Url.Action("Index", "Home")"><span>contact us</span></a></li>
                </ul>

            </div>
        </div>
    </div>

        @RenderBody()
        <hr />
        <footer>
          <div class="container">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            <nav>
              <ul>
                <li>anything here?</li>
              </ul>
            </nav>
          </div>
        </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
